@charset "UTF-8";
  /*기본 설정*/
  body{
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: scroll;
}
.header{
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 12vh;
    background-color: #ffffff;
    font-family: '맑은 고딕' 돋움; 
    color:#333;
    margin:0 auto;
}

.body{
    display: flex;
    flex-direction: column;
    height:calc(100vh - 11.7371px);
    background-color: #ffffff;
}
.content{
    display:flex;
    flex-direction: row;
    position:relative;
    width: 80vw;
    background-color: #ffffff;
    margin:0 auto;
}
.loginandsearch{
    display: flex;
    flex-direction: row;
    width: 80vw;
    height:30vh;
    background-color: #ffffff;
    margin:0 auto;
}
.footer{
    width: 80vw;
    height: 4.6948vw;
    background-color: #F8CBAD;
}
/*배너*/
.bannerbackground{
    display: flex;
    height: 10vh;
    margin: 0 auto;
    background-color: #004593;
    
}
.banner{
    display: flex;
    width: 84vw;
    height: 10vh;
    margin: 0 auto;
}
.banner h1{
    font-size: 4.5vh;
    margin-left:2vw ;
    margin-top: 2vh;
    color: white;
}
/*검색바*/
#libraryimg{
    position:relative;
    padding:1px;
}

.search {
  position: relative; 
  width: 63.8967vw;

}
#searchtitle{
    position:absolute;
    color:rgb(255, 255, 255);
    font-size: 1.4085vw;
    left: 8.37vw;
    top: 17.1vh;
    z-index: 1;
}
#searchicon {
    position:absolute;
    z-index: 1;
    top: 20.8vh;
    right: 5.6vw;
    height: 1.9vh;
    width: 1.1vw;
}

#glass {
    position:absolute;
    top:2.43vh;
    left:8.51vw;
    width:1.4vw;

}
img {
  margin: 0;

}
#searchbar {
    width:46.51vw;
    position:absolute;
    top:20vh;
    left:8.37vw;
    border:0.21vw solid orange;
    font-size: 0.65vw;
    padding: 0.69vh 0.56vw;
    border-radius: 0.9vw;
}

/*공지사항 설정*/        
 *{
    padding: 0;
    margin: 0;
    color: #333333;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.tab_wrap{
    width: 17.67vw;
    height: 12.5vh;
    padding: 0.47vw;
    border: 1px solid blue;
    position: relative;
    
}
.tab_title{
    position: absolute;
    width: 100%;
    font-size: 0;
    z-index: 2;
    cursor: pointer;
}
.notice_on{
    display: inline-block;
    width: 3.72vw;
    height: 2.08vh;
    line-height: 2.08vh;
    text-align: center;
    font-size: 0.56vw;
    background: white;
    border: 1px solid grey;
    border-bottom: none;
    background: white;
    z-index: 3;
}
.notice_off{
    display: inline-block;
    width: 3.72vw;
    height: 2.08vh;
    line-height: 2.08vh;
    text-align: center;
    font-size: 0.56vw;
    background: lightgrey;
    border: 1px solid grey;
    z-index: 3;
}

.gallery_off{
    display: inline-block;
    width: 3.72vw;
    height: 2.08vh;
    line-height: 2.08vh;
    text-align: center;
    font-size: 0.56vw;
    background: lightgrey;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}
.gallery_on{
    display: inline-block;
    width: 3.72vw;
    height: 2.08vh;
    line-height: 2.08vh;
    text-align: center;
    font-size: 0.56vw;
    background: white;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: none;
}
.contents_box{
    position: relative;
    margin-top: 2.01vh;
    width: 355px;
    height: 8.68vh;
    border: 1px solid grey;
    z-index: 1;
}
.notice_letter{
    display: block;
    padding: 10px;
    width: 355px;
}
.notice_letter>li{
    line-height: 1.88vh;
    font-size: 0.9rem;
}
.notice_letter>li>a{
    float: left;
}
.notice_letter>li>span{
    float: right;
}

.gallery_img{
    display: none; /*활성시 flex*/
    justify-content: space-between; 
    padding: 10px;
    width: 16.51vw;
    height: 8.68vh;
    font-size: 0;
}
.gallery_img>li{
    display: inline-block;
    overflow: hidden;
    background: black;
    width: 4.65vw;
    height: 6.94vh;
}

.gallery_img>li>a>img{
    width: 4.65vw;
    height: 6.94vh;
}

/*로그인 창 설정*/
#loginlibrary {
    position:relative;
    width:100%;
    display:flex;
    flex-direction: column;
}

.loginbox{
    display:flex;
    flex-direction: column;
    width: 20vw;
    height: 30vh;
    border-left: 0.14vw solid  #004593;
    border-bottom: 0.14vw solid  #004593;
    border-right: 0.14vw solid  #004593;
    padding: 1.74vh 0.7vw;
    box-sizing: border-box;
    
}
.loginbox h1{
    width:100%;
    height: 2.78vh;
    font-size: 1.3vw;
    color:#004593;
    border-bottom: 0.05vw solid #004593;
    padding-left:1.86vw;
    background-image:url(images/titleIcon.gif); 
    background-repeat: no-repeat;
    background-position: 0.21vh 0.23vw;
}
.putid{
    left: 1.6vw;
    margin-top:2vh;
    display: flex;
    flex-direction: row;
    position: relative;
    height:3vh;
}
.putpw{
    left: 1.6vw;
    margin-top:1vh;
    display: flex;
    flex-direction: row;
    position: relative;
    height:3vh;
}
#loginid  {
    width:9.3vw; 
    height:1.74vh;
    border:0.05vw solid #999;
    box-sizing:border-box;
    margin-bottom:0.69vh;
    position: absolute;
    left: 5vw;
}
#loginpw  {
    width:9.3vw; 
    height:1.74vh;
    border:0.05vw solid #999;
    box-sizing:border-box;
    margin-bottom:0.69vh;
    position: absolute;
    left: 5vw;
}
.labelid{
    display: flex;
    font-size:1.2vmin;
    color:#666;
    margin-left:0.7vw;
    height:2vh;

}
.labelpw{
    font-size:1.2vmin;
    color:#666;
    margin-left:0.7vw;
    position:relative;
}
.chk{
    margin:1vw;
    display:flex;
    width: 19vw;
    height:2.78vh;
    box-sizing:border-box;
    line-height:0.69vh;
    text-align:center;
    margin-bottom:1.39vh;
    position:relative;
    left: 1.1vw;

}
.chk label{
    font-size:0.56vw;
    color:#999;
    position:relative;
    top: 0.6vw;
}
#pwchk{
    margin-left:0.5vw;
    margin-right: 0.5vw;
    width: auto;
}
#idchk{
    margin-right:0.5vw;
    width: auto;
}
.searchidpw{
    
    width:18vw;
    box-sizing:border-box;
    line-height:2.78vh;
    text-align:center;
    margin-bottom:1.39vh;
    display:flex;
    flex-direction: column;
}
.searchidpw span{
    font-size:0.51vw;
    color:#999;
    position: relative;
}
.searchidpw a{
    font-size:0.56vw;
    text-decoration:none;
    background-color:#333;
    color:#fff;
    padding:0.21vh 0.23vw;
    border-radius:0.14vw;
    margin-left:0.23vw;
    position: relative;
}
.btnwrap{
    display: flex;
    width:20vw;
    text-align:center;
}
.btnwrap label{
    position:absolute;
    left:-999em;
}
.btnwrap a{
    margin-left:3vw;
    width:6vw;
    height:2.43vh;
    background-color:#999;
    text-decoration:none;
    border-radius:0.14vw;
    color:#fff;
    font-size:0.65vw;
    font-weight:bold;
    line-height:2.43vh;
    position:relative;
}
#loginbtn{
    width:6vw;
    text-align: center;
    height:2.43vh;
    border:none;
    background-color: #004593;
    border-radius:0.14vw;
    color:#fff;
    font-size:0.65vw;
    font-weight:bold;
    position:relative;
}
/*탭 메뉴 설정*/


ul li{
        
         list-style-type: none;

}

.tab-box{
         margin: 0 auto;

         width:80vw;

}

#gachonlogo {
    width:15.85vw;
    height:9vh;
    display:flex;
    position:relative;
    left:0;
    float:left;
    top: 1.5vh;
}



.tab-box li{

         
        float:left;
         width:15.85vw;

         height:9.86vh;      

         line-height:9.03vh;    
         font-size: 2vh;   

        /* 중앙정렬 */
         text-align: center;

         background-color: hsl(0, 0%, 100%);

         border-radius:0.21vh 0.14vw 0 0;

         
         

cursor: pointer;

}

.tab-box li.selected{

         background-color: orange;

}

.tab-view{

         width:23.53vw;

         height:6.94vh;

         line-height: 6.94vh;

         border: 1px solid gray;

         text-align:center;

         margin-top:-0.07vh;

}

/* 여기부터 */

#divContents #divContent {
    position: relative;
    width: 80vw;
    margin-top: 32px;
}
div{
    margin: 0;
    padding: 0;
    background: none;
}
div {
    display: block;
}
body {
    font-family: "돋움",dotum,"굴림",Gulim,"Trebuchet MS",arial,Verdana;
    font-size: 0.75em;
    line-height: 1.4em;
    color: #555;
}
#divContents #divTitle {
    width: 80vw;
    height: 2vh;
    color: #fff;
    background: url(../../image/ko/local/titleBg.jpg) no-repeat 100% 0 #0c447a;
    font-family: '나눔고딕',NanumGothic,ng,'돋움',dotum,"굴림",Gulim,"Trebuchet MS",arial,Verdana;
    font-size: 24px;
    font-weight: 600;
    line-height: 3.3em;}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.listContent {
    margin: 0 0 50px 0;
    overflow: hidden;
}

.introTitle span {
    display: block;
    color: #333;
}
.introTitle {
    display: inline-block;
    width: 80vw;
    margin: 0 0 15px;
    line-height: 26px;
    font-weight: 600;
    font-size: 20px;
    color: #0b467d;
}
p{
    margin: 0;
    padding: 0;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.listContent .text .blue {
    color: #0b467d;
}
.listContent .text span {
    font-size: 16px;
    font-weight: 600;
}

.introImg {
    float: left;
    margin: 0 20px 0 0;
}
p{
    margin: 0;
    padding: 0;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.listContent {
    margin: 0 0 50px 0;
    overflow: hidden;
}
div, span, ul, li {
    margin: 0;
    padding: 0;
    background: none;
}

div {
    display: block;
}
.notice_tile{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 15vh;
    border: 1px solid lightgray;
}
#divGuide {
    display: flex;
    flex-direction:column;
    overflow: hidden;
    width: 80vw;
    margin: 0 auto;
    height: 70vh;
    margin-top: 30vh;
    border: 1px solid lightgray;
}
div, span, ul, li {
    margin: 0;
    padding: 0;
    background: none;
}
div {
    display: block;
}
.listContent {
    margin: 0 0 50px 0;
    overflow: hidden;
}
div, span, ul, li {
    margin: 0;
    padding: 0;
    background: none;
}
div {
    display: block;
}
.location {
    overflow: hidden;
    width: 84vw;
    height: 80vh;
    margin: 0 auto;
}
.location img {
    width: 70vw;
    height: 80vh;
    margin: 0 auto;
}
div{
    margin: 0;
    padding: 0;
    background: none;
}
div {
    display: block;
}


