<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width =device-width, initial-scale=1.0" />
    <title>대출/연장/예약 페이지</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="../static/css/loanpagestyle.css"
      th:href="@{css/loanpagestyle.css}"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="../static/css/searchpagestyle.css"
      th:href="@{css/searchpagestyle.css}"
    />
    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="../static/js/mypage.js"
      th:src="@{js/mypage.js}"
    ></script>
    <script th:inline="javascript">
      function showBookDetails(row) {
        var bookId = row.getAttribute("data-book-id");
        window.location.href = "/book/details/" + bookId;
      }
    </script>
  </head>

  <body>
    <div class="header">
      <div class="tab-box">
        <a href="/home"
          ><img
            id="gachonlogo"
            src="../static/img/gachonlogo.jpg"
            th:src="@{img/gachonlogo.jpg}"
        /></a>
        <ul id="tab">
          <li><a href="/introduce">도서관 소개</a></li>
          <li><a href="/search-page">검색</a></li>
          <li
            th:unless="${session.user != null and session.user.user_name eq 'admin'}"
          >
            <a href="/mypage">마이페이지</a>
          </li>
          <li><a href="/community">커뮤니티</a></li>
          <li
            th:if="${session.user != null and session.user.user_name eq 'admin'}"
          >
            <a th:href="@{/managePage}">관리 페이지</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="bannerbackground">
      <div class="banner">
        <h1>대출/예약</h1>
      </div>
    </div>
    <div class="loan">
      <div class="loantitle">
        <button id="loanbtn">
          <a id="loana" href="#" th:onclick="'javascript:Showloaned();'"
            >대출 내역 조회</a
          >
        </button>
        <button id="reservebtn">
          <a id="reservea" href="#" th:onclick="'javascript:Showreserved();'"
            >예약 내역 조회</a
          >
        </button>
      </div>
      <div class="pagedata"></div>
      <div class="loanedbooktable" id="loantable">
        <table>
          <thead>
            <tr>
              <th>서명</th>
              <th>저자</th>
              <th>등록번호</th>
              <th>대출일</th>
              <th>반납예정일</th>
              <th>ISBN</th>
              <th>연장가능횟수</th>
              <th></th>
            </tr>
            <!---테이블을 작성할 때 열과 행을 잘 맞춰서 작성해야 한다 
			head 가 4열이면 다른 행들도 4열 이여야함-->
          </thead>
          <tbody>
            <tr
              th:each="borrow : ${borrows}"
              th:attr="data-book-id=${borrow.code}"
            >
              <td
                th:text="${borrow.title}"
                onclick="showBookDetails(this.parentNode)"
              ></td>
              <td
                th:text="${borrow.author}"
                onclick="showBookDetails(this.parentNode)"
              ></td>
              <td
                th:text="${borrow.ISBN}"
                onclick="showBookDetails(this.parentNode)"
              ></td>
              <td
                th:text="${#dates.format(borrow.start_date, 'yyyy-MM-dd')}"
                onclick="showBookDetails(this.parentNode)"
              ></td>
              <td
                th:text="${#dates.format(borrow.end_date, 'yyyy-MM-dd')}"
                onclick="showBookDetails(this.parentNode)"
              ></td>
              <td
                th:text="${borrow.ISBN}"
                onclick="showBookDetails(this.parentNode)"
              ></td>
              <td
                th:text="${borrow.extension_cnt}"
                onclick="showBookDetails(this.parentNode)"
              ></td>
              <td>
                <form method="post" th:action="@{/return}">
                  <input type="hidden" name="code" th:value="${borrow.code}" />
                  <button type="submit">반납</button>
                </form>
                <form method="post" th:action="@{/extend}">
                  <input type="hidden" name="code" th:value="${borrow.code}" />
                  <button type="submit">연장</button>
                </form>
              </td>
            </tr>
          </tbody>
          <tfoot></tfoot>
        </table>
      </div>
      <div class="reservedbooktable" id="reservetable">
        <form th:action="@{/cancel_reservation}" method="post">
          <table>
            <thead>
              <tr>
                <th>서명</th>
                <th>저자</th>
                <th>등록번호</th>
                <th>대출가능예정일</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr
                th:each="reservation : ${reservations}"
                th:attr="data-book-id=${reservation.code}"
              >
                <td
                  th:text="${reservation.title}"
                  onclick="showBookDetails(this.parentNode)"
                ></td>
                <td
                  th:text="${reservation.author}"
                  onclick="showBookDetails(this.parentNode)"
                ></td>
                <td
                  th:text="${reservation.ISBN}"
                  onclick="showBookDetails(this.parentNode)"
                ></td>
                <td
                  th:text="${#dates.format(reservation.expecteddate, 'yyyy-MM-dd')}"
                  onclick="showBookDetails(this.parentNode)"
                ></td>
                <td>
                  <form method="post" th:action="@{/cancel_reservation}">
                    <input
                      type="hidden"
                      name="code"
                      th:value="${reservation.code}"
                    />
                    <button type="submit">예약취소</button>
                  </form>
                </td>
              </tr>
            </tbody>
            <tfoot></tfoot>
          </table>
        </form>
      </div>
    </div>
  </body>
</html>
