<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>회원 가입</title>
    <link
      type="text/css"
      rel="stylesheet"
      href="../static/css/signupstyle.css"
      th:href="@{css/signupstyle.css}"
    />
    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
  </head>

  <body>
    <div class="header">
      <div class="tab-box">
        <a href="/home"
          ><img
            id="gachonlogo"
            src="../static/img/gachonlogo.jpg"
            th:src="@{img/gachonlogo.jpg}"
        /></a>

        <ul id="tab">
          <li><a href="/introduce">도서관 소개</a></li>
          <li><a href="/search-page">검색</a></li>
          <li
            th:unless="${session.user != null and session.user.user_name eq 'admin'}"
          >
            <a href="/mypage">마이페이지</a>
          </li>
          <li><a href="/community">커뮤니티</a></li>
          <li
            th:if="${session.user != null and session.user.user_name eq 'admin'}"
          >
            <a th:href="@{/managePage}">관리 페이지</a>
          </li>
        </ul>
      </div>
    </div>
    <form action="/signup" method="POST" class="signupForm">
      <h2>회원가입</h2>
      <div class="textForm">
        <input
          name="user_id"
          type="text"
          class="id"
          placeholder="아이디"
          required
        />
      </div>
      <div class="textForm">
        <input
          name="user_pw"
          type="password"
          class="pw"
          placeholder="비밀번호"
          required
        />
      </div>
      <div class="textForm">
        <input
          name="user_pw2"
          type="password"
          class="pw"
          placeholder="비밀번호 확인"
          required
        />
      </div>
      <div class="textForm">
        <input
          name="user_name"
          type="text"
          class="name"
          placeholder="이름"
          required
        />
      </div>
      <div class="textForm">
        <input
          name="email"
          type="email"
          class="email"
          placeholder="이메일"
          required
        />
      </div>
      <div class="textForm">
        <input
          type="date"
          class="birthdate"
          name="birthdate"
          max="2023-05-31"
          min="1900-01-01"
          required
        />
      </div>
      <input type="submit" class="btn" value="가 입 하 기" />
    </form>
  </body>
</html>
